/* 64ac15 */
.preview {
    display: flex;
    justify-content: center;
    height: 330px;
    padding: 30px 0px;
}

.form-input {
    display: block;
    justify-content: center;
    width: 350px;
    height: 100%;
    background: #ffffff47;
    box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
        3px 3px 7px rgba(94, 104, 121, 0.377);
    border-radius: 40px;
}

.form-input img {
    height: 100%;
    display: none;
    margin-bottom: 30px;

}

.form-input input {
    display: none;
}

.form-input label {
    width: 45%;
    height: 45px;
    line-height: 50px;
    text-align: center;
    background: #c26a11;
    color: #fff;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    text-transform: Uppercase;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    padding: 1em;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #ffffff;
    background-image:url("../images/fondo_madera.png");
}

h4 {
    color: #000000;
}

input,
input[type="radio"]+label,
input[type="checkbox"]+label:before,
select option,
select {
    width: 100%;
    padding: 1em;
    line-height: 1.4;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

input:focus {
    outline: 0;
    border-color: #5974ce;
}

input:focus+.input-icon i {
    color: #5190d8;
}

input:focus+.input-icon:after {
    border-right-color: #62acdd;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label,
select {
    display: inline-block;
    width: 50%;
    text-align: center;
    border-radius: 0;
}

input[type="radio"]+label:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

input[type="radio"]+label:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

input[type="radio"]+label i {
    padding-right: 0.4em;
}

input[type="radio"]:checked+label,
input:checked+label:before,
select:focus,
select:active {
    background-color: rgb(60, 38, 15);
    color: #fff;
    border-color: #1100ff;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    position: relative;
    display: block;
    padding-left: 1.6em;
}

input[type="checkbox"]+label:before {
    position: absolute;
    top: 0.2em;
    left: 0;
    display: block;
    width: 1em;
    height: 1em;
    padding: 0;
    content: "";
}

input[type="checkbox"]+label:after {
    position: absolute;
    top: 0.45em;
    left: 0.2em;
    font-size: 0.8em;
    color: #fff;
    opacity: 0;
    font-family: FontAwesome;
    content: "\f00c";
}

input:checked+label:after {
    opacity: 1;
}

select {
    height: 3.4em;
    line-height: 2;
}

select:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

select:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

select:focus,
select:active {
    outline: 0;
}

select option {
    background-color: rgb(60, 38, 15);
    color: #fff;
}

.input-group {
    margin-bottom: 1em;
    zoom: 1;
}

.input-group:before,
.input-group:after {
    content: "";
    display: table;
}

.input-group:after {
    clear: both;
}

.input-group-icon {
    position: relative;
}

.input-group-icon input {
    padding-left: 4.4em;
}

.input-group-icon .input-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.4em;
    height: 3.4em;
    line-height: 3.4em;
    text-align: center;
    pointer-events: none;
}

.input-group-icon .input-icon:after {
    position: absolute;
    top: 0.6em;
    bottom: 0.6em;
    left: 3.4em;
    display: block;
    border-right: 1px solid #e5e5e5;
    content: "";
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.input-group-icon .input-icon i {
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

h4 {
    color: white;
}

.container1 {
    max-width: 38em;
    padding: 2em;
    background: rgb(60, 38, 15);
    border-radius: 30px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
}

.col-half {
    padding-right: 10px;
    float: left;
    width: 50%;
}

.col-half:last-of-type {
    padding-right: 0;
}

.col-third {
    padding-right: 10px;
    float: left;
    width: 33.33333333%;
}

.col-third:last-of-type {
    padding-right: 0;
}

@media only screen and (max-width: 540px) {
    .col-half {
        width: 100%;
        padding-right: 0;
    }
}
